@import "../colors";

$ui-form-field-padding: 7px 0 !default;

.ui-form__container,
.ui-section.ui-form__container
{
    display: block;
}

.ui-form__container--w100 {
    .ui-form__label { width: 100px; }
}

.ui-form__container--w200 {
    .ui-form__label { width: 200px; }
}

.ui-form__field {
    display: flex;
    padding: $ui-form-field-padding;    
}

.ui-form__label {
    color: $grey-d2;
    display: inline-block;
}

.ui-form__input {
    display: inline-block;
}