.ui-section {
    display: flex;
    justify-content: space-between;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.ui-section__title {
    margin-top: 0;
}

.ui-section__column {
    display: inline-block;
}

.ui-section__text {
    max-width: 900px;
}