@import '../colors';

.ui-tabs__container {}

.ui-tabs__header-container {
    display: flex;
}

.ui-tabs__header-label {
    padding: 7px 15px 5px;
    cursor: pointer;
}

.ui-tabs__header-label--selected {
    border-bottom: 2px solid $primary;
    color: $primary;
}

.ui-tabs__header-label:not(.ui-tabs__header-label--selected) {
    color: $neutral-light-d1;
}

.ui-tabs__content-container {}

.ui-tabs__content {
    display: none;
}

.ui-tabs__content--selected {
    display: block;
}

