@import '~@vzamboni/dashboard-ui-style/vars/colors';

@mixin toastOverride($color) {
    border: 1px solid $color;
    border-left: 7px solid $color;
    background: $neutral-light-l2;
    color: $neutral;

    .Toastify__close-button {
        color: $neutral;
    }
}

.ui-toast {
    &.Toastify__toast--default {
        color: $neutral;
    }

    &.Toastify__toast--info {
        @include toastOverride($primary);
    }

    &.Toastify__toast--success {
        @include toastOverride($teal);
    }

    &.Toastify__toast--error {
        @include toastOverride($red);
    }

    &.Toastify__toast--warning {
        @include toastOverride($yellow-light);
    }
}