/* General variables */
$dashboard-menu-height: 46px;
$dashboard-menu-header-bg-color: #292929;
$dashboard-menu-header-color: #AFAFAF;

$dashboard-menu-body-border-color: $dashboard-menu-header-bg-color;
$dashboard-menu-body-bg-color: $dashboard-menu-header-color;

/* Body */
body {
    padding-top: $dashboard-menu-height;
}

/* DashboardMenu container:
This is the element that contains the entire menu, both header and body
*/
.dashboard-menu__container {}

/* DashboardMenu header, the always visible part */
.dashboard-menu__header {
    /* Position and dimension */
    position: absolute;
    top: 0;
    width: 100%;      
    height: $dashboard-menu-height;
    /* Colors */
    background-color: $dashboard-menu-header-bg-color;
    color: $dashboard-menu-header-color;
    /* Flex configuration and Children spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/* Block is an element within the header, that can contains many items */
.dashboard-menu__header-block {}

/* A single item inside header */
.dashboard-menu__header-item {
    display: inline-flex;
    align-items: center;
    height: 46px;
    cursor: pointer;
    padding: 0 15px;

    &:hover {
      color: rgba(85,172,238 ,1);
    }

    &:not(:last-child) {
      border-right: 1px solid $dashboard-menu-header-color;
    }
}

/* DashboardMenu body */
.dashboard-menu__body {
    border: 1px solid $dashboard-menu-body-border-color;
    background-color: $dashboard-menu-body-bg-color;
}
