@import '~@vzamboni/dashboard-ui-style/style/colors';

/* General variables */
$dashboard-menu-height: 46px;
$dashboard-menu-padding: 15px;
$dashboard-menu-padding-small: 7px;

/* Header */
$dashboard-menu-header-bg-color-light: #5b666bb8;
$dashboard-menu-header-bg-color: #292929;
$dashboard-menu-header-color-light: #f1f6f9;
$dashboard-menu-header-color: #c8ccd4;

/* Body */
$dashboard-menu-body-header-bg-color: #ececec;
$dashboard-menu-body-border-color: $dashboard-menu-body-header-bg-color;
$dashboard-menu-body-bg-color: #FCFCFC;
/*$dashboard-menu-body-controls-width: 80px;*/
$dashboard-menu-query-bg-color: $dashboard-menu-body-header-bg-color;
$dashboard-menu-query-color: #898989;
$dashboard-menu-query-focus-border-color: $primary-l2;
$dashboard-menu-body-column-border-color: $dashboard-menu-query-color;

/* Utils */
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
  
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
  
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
  
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
  
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

/* DashboardMenu container:
This is the element that contains the entire menu, both header and body
*/
.dashboard-menu__container {}

/* DashboardMenu header, the always visible part */
.dashboard-menu__header {
    /* Position and dimension */
    position: absolute;
    top: 0;
    width: 100%;      
    height: $dashboard-menu-height;
    /* Colors */
    background-color: $dashboard-menu-header-bg-color;
    color: $dashboard-menu-header-color;
    /* Flex configuration and Children spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

/* Block is an element within the header, that can contains many items */
.dashboard-menu__header-block {}

.dashboard-menu__header-block--left {
    text-align: left;
}

.dashboard-menu__header-block--center {
    text-align: center;
}

.dashboard-menu__header-block--right {
    text-align: right;
}

/* A single item inside header */
.dashboard-menu__header-item {
    display: inline-flex;
    align-items: center;
    height: $dashboard-menu-height;
    padding: 0 $dashboard-menu-padding;

    &:not(:last-child) {
      border-right: 1px solid $dashboard-menu-header-color;
    }
}

.dashboard-menu__header__link {
    color: $dashboard-menu-header-color;
    text-decoration: none; 
    padding: 16px 10px;
}

.dashboard-menu__header-item:hover, 
.dashboard-menu__header__link:hover {
    color: $dashboard-menu-header-color-light;
    background-color: $dashboard-menu-header-bg-color-light;
    background: linear-gradient(to bottom, lighten($dashboard-menu-header-bg-color-light, 5%) 0%,$dashboard-menu-header-bg-color-light 100%);    
}

.dashboard-menu__header-dashboard-item {
    cursor: pointer;
}

/* DashboardMenu body */
.dashboard-menu__body {
    position: absolute;
    z-index: 10;
    top: $dashboard-menu-height;
    width: calc(100% - 2px); /* 2px of border */
    border: 1px solid $dashboard-menu-body-border-color;
    background-color: $dashboard-menu-body-bg-color;
    box-shadow: 0 10px 20px rgba(0,0,0,.15), 0 3px 6px rgba(0,0,0,.10);
}

.dashboard-menu__body-header {
    width: 100%;
    /* Flex configuration and Children spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.dashboard-menu__body-header__icon {
    margin: 15px;
    cursor: pointer;
}

.dashboard-menu__body-item {
    padding-bottom: 15px;
}

.dashboard-menu__body-query {
    width: calc(100%);
    text-align: left; 
    display: flex;
}

.dashboard-menu__body-header__icon-search {
    order: 1;
}

.dashboard-menu__body-query__input {
    width: 98%;
    border: 0;
    border-bottom: 2px solid $dashboard-menu-body-bg-color; /* assign a border bottom to not change spacing on focus */
    font-size: 1.1em;
    color: $dashboard-menu-query-color;
    padding: 5px;
    margin-bottom: 1px;
    margin-right: 10px;
    order: 2;

    &:focus {
      outline: none;
      border-bottom: 2px solid $dashboard-menu-query-focus-border-color;

      & ~ i.dashboard-menu__body-header__icon-search {
        color: $dashboard-menu-query-focus-border-color;
      }
    }

    @include placeholder {
      color: lighten($dashboard-menu-query-color, 25%);
      font-weight:100;
    }
}

.dashboard-menu__body-controls {
    /* width: $dashboard-menu-body-controls-width; */
    text-align: right;
    padding-right: $dashboard-menu-padding-small; 
}

.dashboard-menu__body-controls--floating {
    position: absolute;
    right: 0;
    top: 3px;
}

.dashboard-menu__body-controls__control {
    margin: 3px 0 3px 3px;
    cursor: pointer;
    color: $grey-light-d1;
    padding: 8px 11px;
    border: 1px solid transparent;
    border-radius: 18px;

    &:hover {
        color: $grey-l2;
        background-color: $grey-light-l1;
        border: 1px solid $grey-light-l1;
    }
}

.dashboard-menu__body__column {
    border-right: 1px solid $dashboard-menu-body-column-border-color;
}

.dashboard-menu__body__column--fixed {
    width: 200px;
}