@import "colors";
@import "fonts";

button:not(:first-of-type) {
    margin-left: 10px;
}

.button {
    font-family: Lato;
    font-size: $text-standard;
    border: 1px solid $neutral-l2;
    border-radius: 17px;
    color: $neutral;
    background-color: $neutral-light-l2;
    padding: 7px 15px;
    cursor: pointer;
    
    &:focus { outline: none; }

}

.button:hover {
    color: $neutral-light-d2;
    border-color: $neutral-light;
}

.button.button--small {
    font-size: $text-small;
    padding: 4px 10px;
    border-radius: 15px;
}

.button--primary {
    color: $neutral-light-l2;
    background-color: $primary;
}
.button--primary:hover {
    color: $neutral-light-l2;
    background-color: $primary-light-d2;
}
