/*******************/
/* Chromatic scale */
/*******************/

$blue-d2: hsl(204, 96%, 27%);
$blue-d1: hsl(203, 87%, 34%);
$blue: hsl(202, 83%, 41%);
$blue-l1: hsl(201, 79%, 46%);
$blue-l2: hsl(199, 84%, 55%);

.blue-d2 { color: $blue-d2; }
.blue-d1 { color: $blue-d1; }
.blue { color: $blue; }
.blue-l1 { color: $blue-l1; }
.blue-l2 { color: $blue-l2; }
.background-blue-d2 { background-color: $blue-d2; }
.background-blue-d1 { background-color: $blue-d1; }
.background-blue { background-color: $blue; }
.background-blue-l1 { background-color: $blue-l1; }
.background-blue-l2 { background-color: $blue-l2; }

$blue-light-d2: hsl(197, 92%, 61%);
$blue-light-d1: hsl(196, 94%, 67%);
$blue-light: hsl(195, 97%, 75%);
$blue-light-l1: hsl(195, 100%, 85%);
$blue-light-l2: hsl(195, 100%, 95%);

.blue-light-d2 { color: $blue-light-d2; }
.blue-light-d1 { color: $blue-light-d1; }
.blue-light { color: $blue-light; }
.blue-light-l1 { color: $blue-light-l1; }
.blue-light-l2 { color: $blue-light-l2; }
.background-blue-light-d2 { background-color: $blue-light-d2; }
.background-blue-light-d1 { background-color: $blue-light-d1; }
.background-blue-light { background-color: $blue-light; }
.background-blue-light-l1 { background-color: $blue-light-l1; }
.background-blue-light-l2 { background-color: $blue-light-l2; }

$grey-d2: hsl(210, 24%, 16%);
$grey-d1: hsl(209, 20%, 25%);
$grey: hsl(209, 18%, 30%);
$grey-l1: hsl(209, 14%, 37%);
$grey-l2: hsl(211, 12%, 43%);

.grey-d2 { color: $grey-d2; }
.grey-d1 { color: $grey-d1; }
.grey { color: $grey; }
.grey-l1 { color: $grey-l1; }
.grey-l2 { color: $grey-l2; }
.background-grey-d2 { background-color: $grey-d2; }
.background-grey-d1 { background-color: $grey-d1; }
.background-grey { background-color: $grey; }
.background-grey-l1 { background-color: $grey-l1; }
.background-grey-l2 { background-color: $grey-l2; }

$grey-light-d2: hsl(211, 10%, 53%);
$grey-light-d1: hsl(211, 13%, 65%);
$grey-light: hsl(210, 16%, 82%);
$grey-light-l1: hsl(214, 15%, 91%);
$grey-light-l2: hsl(216, 33%, 97%);

.grey-light-d2 { color: $grey-light-d2; }
.grey-light-d1 { color: $grey-light-d1; }
.grey-light { color: $grey-light; }
.grey-light-l1 { color: $grey-light-l1; }
.grey-light-l2 { color: $grey-light-l2; }
.background-grey-light-d2 { background-color: $grey-light-d2; }
.background-grey-light-d1 { background-color: $grey-light-d1; }
.background-grey-light { background-color: $grey-light; }
.background-grey-light-l1 { background-color: $grey-light-l1; }
.background-grey-light-l2 { background-color: $grey-light-l2; }

$pink-d1: hsl(322, 93%, 33%);
$pink: hsl(324, 93%, 33%);
$pink-l1: hsl(326, 90%, 39%);

.pink-d1 { color: $pink-d1; }
.pink { color: $pink; }
.pink-l1 { color: $pink-l1; }
.background-pink-d1 { background-color: $pink-d1; }
.background-pink { background-color: $pink; }
.background-pink-l1 { background-color: $pink-l1; }

$pink-light-d1: hsl(334, 86%, 67%);
$pink-light: hsl(336, 100%, 77%);
$pink-light-l1: hsl(338, 100%, 86%);

.pink-light-d1 { color: $pink-light-d1; }
.pink-light { color: $pink-light; }
.pink-light-l1 { color: $pink-light-l1; }
.background-pink-light-d1 { background-color: $pink-light-d1; }
.background-pink-light { background-color: $pink-light; }
.background-pink-light-l1 { background-color: $pink-light-l1; }

$red-d1: hsl(350, 94%, 28%);
$red: hsl(352, 90%, 35%);
$red-l1: hsl(354, 85%, 44%);

.red-d1 { color: $red-d1; }
.red { color: $red; }
.red-l1 { color: $red-l1; }
.background-red-d1 { background-color: $red-d1; }
.background-red { background-color: $red; }
.background-red-l1 { background-color: $red-l1; }

$red-light-d1: hsl(360, 91%, 69%);
$red-light: hsl(360, 100%, 80%);
$red-light-l1: hsl(360, 100%, 87%);

.red-light-d1 { color: $red-light-d1; }
.red-light { color: $red-light; }
.red-light-l1 { color: $red-light-l1; }
.background-red-light-d1 { background-color: $red-light-d1; }
.background-red-light { background-color: $red-light; }
.background-red-light-l1 { background-color: $red-light-l1; }

$yellow-d1: hsl(22, 82%, 39%);
$yellow: hsl(29, 80%, 44%);
$yellow-l1: hsl(36, 77%, 49%);

.yellow-d1 { color: $yellow-d1; }
.yellow { color: $yellow; }
.yellow-l1 { color: $yellow-l1; }
.background-yellow-d1 { background-color: $yellow-d1; }
.background-yellow { background-color: $yellow; }
.background-yellow-l1 { background-color: $yellow-l1; }

$yellow-light-d1: hsl(48, 94%, 68%);
$yellow-light: hsl(48, 95%, 76%);
$yellow-light-l1: hsl(48, 100%, 88%);

.yellow-light-d1 { color: $yellow-light-d1; }
.yellow-light { color: $yellow-light; }
.yellow-light-l1 { color: $yellow-light-l1; }
.background-yellow-light-d1 { background-color: $yellow-light-d1; }
.background-yellow-light { background-color: $yellow-light; }
.background-yellow-light-l1 { background-color: $yellow-light-l1; }

$teal-d2: hsl(170, 97%, 15%);
$teal-d1: hsl(168, 80%, 23%);
$teal: hsl(166, 72%, 28%);
$teal-l1: hsl(164, 71%, 34%);
$teal-l2: hsl(162, 63%, 41%);

.teal-d2 { color: $teal-d2; }
.teal-d1 { color: $teal-d1; }
.teal { color: $teal; }
.teal-l1 { color: $teal-l1; }
.teal-l2 { color: $teal-l2; }
.background-teal-d2 { background-color: $teal-d2; }
.background-teal-d1 { background-color: $teal-d1; }
.background-teal { background-color: $teal; }
.background-teal-l1 { background-color: $teal-l1; }
.background-teal-l2 { background-color: $teal-l2; }

$teal-light-d2: hsl(160, 51%, 49%);
$teal-light-d1: hsl(158, 58%, 62%);
$teal-light: hsl(156, 73%, 74%);
$teal-light-l1: hsl(154, 75%, 87%);
$teal-light-l2: hsl(152, 68%, 96%);

.teal-light-d2 { color: $teal-light-d2; }
.teal-light-d1 { color: $teal-light-d1; }
.teal-light { color: $teal-light; }
.teal-light-l1 { color: $teal-light-l1; }
.teal-light-l2 { color: $teal-light-l2; }
.background-teal-light-d2 { background-color: $teal-light-d2; }
.background-teal-light-d1 { background-color: $teal-light-d1; }
.background-teal-light { background-color: $teal-light; }
.background-teal-light-l1 { background-color: $teal-light-l1; }
.background-teal-light-l2 { background-color: $teal-light-l2; }

/*********************/
/* Meaningful colors */
/*********************/

$primary-d2: $blue-d2;
$primary-d1: $blue-d1;
$primary: $blue;
$primary-l1: $blue-l1;
$primary-l2: $blue-l2;

.primary-d2 { color: $primary-d2; }
.primary-d1 { color: $primary-d1; }
.primary { color: $primary; }
.primary-l1 { color: $primary-l1; }
.primary-l2 { color: $primary-l2; }
.background-primary-d2 { background-color: $primary-d2; }
.background-primary-d1 { background-color: $primary-d1; }
.background-primary { background-color: $primary; }
.background-primary-l1 { background-color: $primary-l1; }
.background-primary-l2 { background-color: $primary-l2; }

$primary-light-d2: $blue-light-d2;
$primary-light-d1: $blue-light-d1;
$primary-light: $blue-light;
$primary-light-l1: $blue-light-l1;
$primary-light-l2: $blue-light-l2;

.primary-light-d2 { color: $primary-light-d2; }
.primary-light-d1 { color: $primary-light-d1; }
.primary-light { color: $primary-light; }
.primary-light-l1 { color: $primary-light-l1; }
.primary-light-l2 { color: $primary-light-l2; }
.background-primary-light-d2 { background-color: $primary-light-d2; }
.background-primary-light-d1 { background-color: $primary-light-d1; }
.background-primary-light { background-color: $primary-light; }
.background-primary-light-l1 { background-color: $primary-light-l1; }
.background-primary-light-l2 { background-color: $primary-light-l2; }


$neutral-d2: $grey-d2;
$neutral-d1: $grey-d1;
$neutral: $grey;
$neutral-l1: $grey-l1;
$neutral-l2: $grey-l2;

.neutral-d2 { color: $neutral-d2; }
.neutral-d1 { color: $neutral-d1; }
.neutral { color: $neutral; }
.neutral-l1 { color: $neutral-l1; }
.neutral-l2 { color: $neutral-l2; }
.background-neutral-d2 { background-color: $neutral-d2; }
.background-neutral-d1 { background-color: $neutral-d1; }
.background-neutral { background-color: $neutral; }
.background-neutral-l1 { background-color: $neutral-l1; }
.background-neutral-l2 { background-color: $neutral-l2; }

$neutral-light-d2: $grey-light-d2;
$neutral-light-d1: $grey-light-d1;
$neutral-light: $grey-light;
$neutral-light-l1: $grey-light-l1;
$neutral-light-l2: $grey-light-l2;

.neutral-light-d2 { color: $neutral-light-d2; }
.neutral-light-d1 { color: $neutral-light-d1; }
.neutral-light { color: $neutral-light; }
.neutral-light-l1 { color: $neutral-light-l1; }
.neutral-light-l2 { color: $neutral-light-l2; }
.background-neutral-light-d2 { background-color: $neutral-light-d2; }
.background-neutral-light-d1 { background-color: $neutral-light-d1; }
.background-neutral-light { background-color: $neutral-light; }
.background-neutral-light-l1 { background-color: $neutral-light-l1; }
.background-neutral-light-l2 { background-color: $neutral-light-l2; }
