@import '~@vzamboni/dashboard-ui-style/vars/colors';

.finance__categories__tiles {
    .ui-card__container {
        min-height: 145px;

        &:hover {
            .ui-card__controls {
                display: flex;
            }
        }
    }

    .ui-card__controls {
        display: none;
    }

    a:not(.ui-button) {
        text-decoration: none;
        color: inherit;
    }
}

.finance__money-movement__amount-cell {
    text-align: right;
    padding-right: 10px;
}