/* Local variables */
$header-height: 46px;
$footer-height: 46px;

/* Global variables */
$ui-dashboard-header-height: $header-height;
$ui-dashboard-footer-height: $footer-height;
$ui-page-padding: 15px;

$dashboard-menu-height: $header-height;

@import '~@vzamboni/dashboard-ui-style/style/colors';
@import '~@vzamboni/dashboard-ui-style/style/fonts';
@import '~@vzamboni/dashboard-ui-style/style/shadows';
@import '~@vzamboni/dashboard-ui-style/style/helpers';
@import '~@vzamboni/dashboard-ui-style/style/ui';

@import 'style/dashboard/login';

body {
    font-family: Lato;
    font-weight: 400;
    font-size: $text-small;
    background-color: white;
    color: $grey-d1;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato Light';
}

p {
    margin-top: 0;
}

.dashboard-content {
    height: calc(100vh - #{($ui-dashboard-header-height + $ui-dashboard-footer-height + $ui-page-padding)});
    overflow: auto;
    padding-bottom: $ui-page-padding;
}
