/* Local variables */
$header-height: 46px;
$footer-height: 0;
$ui-dashboard-background-color: #f8fafb;

/* Global variables */
$ui-page-padding: 15px;
$ui-dashboard-header-height: $header-height;
$ui-dashboard-footer-height: $footer-height;

$dashboard-menu-height: $header-height;

@import '~@vzamboni/dashboard-ui-style/style/ui';
@import '~@vzamboni/dashboard-ui-style/vars/colors';
@import '../node_modules/flexboxgrid/dist/flexboxgrid.min.css';
@import '../node_modules/react-toastify/dist/ReactToastify.min.css';
@import '../node_modules/lato-font/css/lato-font.min.css';

@import 'style/3rd-party-overrides';
@import 'style/dashboard/login';

body {
    font-family: Lato;
    font-weight: 400;
    font-size: $text-small;
    background-color: $ui-dashboard-background-color;
    color: $grey-d1;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: $neutral-light-d2;
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 12px;
}

p {
    margin-top: 0;
}

.dashboard-content {
    height: calc(100vh - #{($ui-dashboard-header-height + $ui-dashboard-footer-height)});
    overflow: auto;
    background-color: $ui-dashboard-background-color;
}
