/* Local variables */
$header-height: 46px;

/* Global variables */
$dashboard-header-height: $header-height;
$dashboard-footer-height: 0;
$dashboard-menu-height: $header-height;
$page-padding: 15px;

@import 'style/shadows';
@import 'style/buttons';
@import 'style/colors';
@import 'style/fonts';
@import 'style/helpers';
@import 'style/ui';


body {
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    background-color: $grey-light-l2;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato Light';
}

.dashboard-content {
    height: calc(100vh - #{($dashboard-header-height + $dashboard-footer-height)});
    overflow: auto;
}