@import '~@vzamboni/dashboard-ui-style/style/colors';

.applications-container {
    display: flex;
    padding: 20px;
}

.applications__application {
    width: 150px;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border-radius: 15px;

    &:hover {
        background-color: $neutral-light-l1;
        color: $primary-d1;
        i {
            color: $primary-l1;
        }
    }
}

.applications__application__icon {
    padding: 5px 5px 15px 5px;
}

.applications__application__icon i {
    font-size: 64px;
    color: $neutral;
}